<form id="form productos">
    <li>producto: </li><input type="text" producto = "producto" id = "producto">
    <li>precio: </li><input type="text" precio = "precio" id = "precio">
    <input type="submit" value="Enviar">
</form>

<p id="listaProductos"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>